<!-- Algolia docsearch https://community.algolia.com/docsearch/ -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
apiKey: 'a28a7d97a1c7b6a4770b31ce4e48415e',
indexName: 'gitlab',
inputSelector: '.docsearch',
algoliaOptions: {
  // Filter by tags as described in https://github.com/algolia/docsearch-configs/blob/master/configs/gitlab.json
  'filters': "tags:ee OR tags:omnibus OR tags:runner",
  // Number of results shown in the search dropdown
  'hitsPerPage': 10
},
debug: false // Set debug to true if you want to inspect the dropdown
  });
</script>
